/* 
.navbar-div{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 43px 43px 43px 43px;
    grid-template-rows: 43px auto;
    background-color: rgba(35, 134, 80, 0.959);
    background-color: #4abdac;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    font-size: 15px;
    z-index: 99;
}

.icons-link{
    margin: 0px;
    color: white;
    justify-self: center;
    align-self: center;
}

p{
    margin: 0px;
}


.nav-search-div{
    height: 24px;
    display: grid;
    grid-template-columns: 1fr 24px;
    text-align: right;
    margin-top: 6px;
}  

#nav-search-input{
    height: 32px;
    background-color:#f7ffff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 0px;
    border-radius: 4px 0px 0px 4px;
    font-size: 13px;
    text-indent: 12px;
    width: 100%;
}

#nav-search-input::placeholder{
    color: #4ABDAC;
}

input:focus{
    outline: none !important;
    border:1px solid #00ffd9;
    box-shadow: 0 0 10px #719ECE;
    border-radius: 4px 0px 0px 4px;
}

.nav-search-link img{
    height: 16px;
    width: 16px;
    background-color:rgba(0, 0, 0, 0);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 0px;
    border-radius: 0px 4px 4px 0px;
    padding: 7px;
} 


a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

 */