/* 

body {
    margin: 0;
    padding: 0;
}

.quotes-div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-self: center;
    justify-self: center;
    height: 360px;
    margin-bottom: 200px;
    margin-bottom: 20px;
}
#quotes-div{}

.slideshow-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 90%;
    align-self: center;
    justify-self: center;
}
.slideshow-container h2{
    text-align: center;
}

.mySlides{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-self: center;
    align-self: center;
}
#slide1{}
.mySlides img{
    width: 100%;
    height: 360px;
}

.slideimage{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    object-fit: cover;
    object-position: 100% 100%;
}

.overlay{
    background-color: rgba(103, 44, 4, 0.48);

    background: -moz-linear-gradient(top,  rgba(103,44,4,0.48) 0%, rgba(104,46,6,0.48) 1%, rgba(234,234,234,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(103,44,4,0.48) 0%,rgba(104,46,6,0.48) 1%,rgba(234,234,234,0) 100%);
    background: linear-gradient(to bottom,  rgba(103,44,4,0.48) 0%,rgba(104,46,6,0.48) 1%,rgba(234,234,234,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a672c04', endColorstr='#00eaeaea',GradientType=0 );

}

.overlay{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.quote{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    z-index: 2;
    font-size: 32px;
    text-align: center;
    align-self: center;
    color: white;
}

@font-face {
    font-family: 'pakenham';
    font-style: normal;
    font-weight: normal;
    src: local('pakenham'), local('pakenham'),
         url('../../content/fonts/pakenham\ rg.ttf') format('TrueType')
}

@font-face {
    font-family: 'TheGlamorousTale';
    font-style: normal;
    font-weight: normal;
    src: local('TheGlamorousTale'), local('TheGlamorousTale'),
         url('../../content/fonts/TheGlamorousTale-Regular.otf') format('OpenType'),
         url('../../content/fonts/TheGlamorousTale-Regular.ttf') format('TrueType');
}


@font-face {
    font-family: 'AmaticSC';
    font-style: normal;
    font-weight: 400;
    src: local('AmaticSC'), local('AmaticSC'),
         url('../../content/fonts/AmaticSC-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../content/fonts/AmaticSC-Regular.woff2') format('woff2'),
         url('../../content/fonts/AmaticSC-Regular.woff') format('woff'),
         url('../../content/fonts/AmaticSC-Regular.ttf') format('truetype'),
         url('../../content/fonts/AmaticSC-Regular.svg#OpenSans') format('svg');
  }
  
  @font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    src: local('Cookie'), local('Cookie'),
         url('../../content/fonts/Cookie-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../content/fonts/Cookie-Regular.woff2') format('woff2'),
         url('../../content/fonts/Cookie-Regular.woff') format('woff'),
         url('../../content/fonts/Cookie-Regular.ttf') format('truetype'),
         url('../../content/fonts/Cookie-Regular.svg#OpenSans') format('svg');
  }
  
  @font-face {
    font-family: 'Parisienne';
    font-style: normal;
    font-weight: 400;
    src: local('Parisienne'), local('Parisienne'),
         url('../../content/fonts/Parisienne-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../content/fonts/Parisienne-Regular.woff2') format('woff2'),
         url('../../content/fonts/Parisienne-Regular.woff') format('woff'),
         url('../../content/fonts/Parisienne-Regular.ttf') format('truetype'),
         url('../../content/fonts/Parisienne-Regular.svg#OpenSans') format('svg');
  }
  
  @font-face {
    font-family: 'Rochester';
    font-style: normal;
    font-weight: 400;
    src: local('Rochester'), local('Rochester'),
         url('../../content/fonts/Rochester-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../content/fonts/Rochester-Regular.woff2') format('woff2'),
         url('../../content/fonts/Rochester-Regular.woff') format('woff'),
         url('../../content/fonts/Rochester-Regular.ttf') format('truetype'),
         url('../../content/fonts/Rochester-Regular.svg#OpenSans') format('svg');
  }




.togglevisibility-div{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: right;

    display: grid;
    grid-template-rows: 5px 24px auto;
    grid-template-columns: auto 24px 5px;
}

.togglevisibility-div a.icons-link {
    width: 24px;
    height: 24px;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.child {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;

    background-color: rgba(255, 255, 255, 0.65);

    z-index: 99;
    padding: 16px;
}




button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: #7b7b7b;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #cecece;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}



a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
}




 */