

body {
    margin: 0;
    padding: 0;    
    background-color: #fbf9f6;
}

.contacts-div{
    font-size: 14px;

    font-family: 'Parisienne';
    font-family: 'Rochester';
    font-family: 'Cookie';
    font-family: 'TheGlamorousTale';
    font-weight: 400;

    margin-bottom: 20px;

}


.contacts-div h1,h2,h3,h4,h5{
    text-align: center;
    font-family: 'TheGlamorousTale';
    line-height: 1.0;
    font-weight: 400;
    margin: 0px;
    font-size: 70px;
}

.contacts-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map iframe{
    width: 100%;
    height: 500px;
    border: 0px;
    /*pointer-events: none; */ /*if it is openstreet maps*/
}

.contact-text-div{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.contact-text{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.intro-contactos{
    grid-column: 1 / span 2;
    align-self: center;
    text-align: center;
    font-size: 18px;
}

.logo-div{
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.logo img{
    width: 100%;
    height: 120px;
    
    object-fit: fill;
    object-position: 100% 100%;
}

.logo{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
/* .presentation-logo{
    height: 80vh;
} */

.detalhes {
    grid-row: 2 / span 1;
    font-size: 20px;
    text-align: justify;
    font-family: 'pakenham';
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    margin: 24px;
    min-width: 198px;
}


.email{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.telefones{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}


.capacidade{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}
.capacidade img{
    height: 60px;
    width: 60px;
    
    object-fit: contain;
    margin-left: 10px;
    margin-right: 10px;
}

.redes{
    grid-row: 3 / span 1;
    align-self: center;
}

.redes_div{

    display: grid;
    grid-gap: 5px;
    
    justify-items: center;
    padding: 10px 0px 10px 0px;

    grid-auto-flow: column;
    grid-template-rows: auto;
    grid-template-columns: none;
    overflow-x: scroll;
    max-width: 170px;
}

.rede{
    align-items: center;
}

.pagamentos{
    grid-row: 3 / span 1;
    align-self: center;
}

.metodos_div{
    display: grid;
    grid-gap: 5px;
    justify-items: center;
    padding: 10px 0px 10px 0px;
    grid-auto-flow: column;
    grid-template-rows: auto;
    grid-template-columns: none;
    overflow-x: scroll;
    max-width: 170px;
}

.metodo{
    align-items: center;
}

.morada{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
    grid-column-gap: 2px;
    margin-bottom: 10px;
}


.arteria{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}


.identificacao_porta{
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
}

.identificacao_alojamento{
    grid-column: 3/ span 1;
    grid-row: 1/ span 1;
}

.referencia_auxiliar{
    grid-column: 1/ span 3;
    grid-row: 2/ span 1;
}

.localidade{
    grid-column: 1/ span 3;
    grid-row: 3/ span 1;
}

.codigo_postal{
    grid-column: 1/ span 3;
    grid-row: 4/ span 1;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-items: center;
}

.numero_postal{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}


.coordenadas{
    grid-column: 1/ span 3;
    grid-row: 5/ span 1;
    justify-self: center;
}

@font-face {
    font-family: 'pakenham';
    font-style: normal;
    font-weight: normal;
    src: local('pakenham'), local('pakenham'),
         url('../../content/fonts/pakenham\ rg.ttf') format('TrueType')
}

@font-face {
    font-family: 'TheGlamorousTale';
    font-style: normal;
    font-weight: normal;
    src: local('TheGlamorousTale'), local('TheGlamorousTale'),
         url('../../content/fonts/TheGlamorousTale-Regular.otf') format('OpenType'),
         url('../../content/fonts/TheGlamorousTale-Regular.ttf') format('TrueType');
}


@font-face {
    font-family: 'AmaticSC';
    font-style: normal;
    font-weight: 400;
    src: local('AmaticSC'), local('AmaticSC'),
         url('../../content/fonts/AmaticSC-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../content/fonts/AmaticSC-Regular.woff2') format('woff2'),
         url('../../content/fonts/AmaticSC-Regular.woff') format('woff'),
         url('../../content/fonts/AmaticSC-Regular.ttf') format('truetype'),
         url('../../content/fonts/AmaticSC-Regular.svg#OpenSans') format('svg');
  }
  
  @font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    src: local('Cookie'), local('Cookie'),
         url('../../content/fonts/Cookie-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../content/fonts/Cookie-Regular.woff2') format('woff2'),
         url('../../content/fonts/Cookie-Regular.woff') format('woff'),
         url('../../content/fonts/Cookie-Regular.ttf') format('truetype'),
         url('../../content/fonts/Cookie-Regular.svg#OpenSans') format('svg');
  }
  
  @font-face {
    font-family: 'Parisienne';
    font-style: normal;
    font-weight: 400;
    src: local('Parisienne'), local('Parisienne'),
         url('../../content/fonts/Parisienne-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../content/fonts/Parisienne-Regular.woff2') format('woff2'),
         url('../../content/fonts/Parisienne-Regular.woff') format('woff'),
         url('../../content/fonts/Parisienne-Regular.ttf') format('truetype'),
         url('../../content/fonts/Parisienne-Regular.svg#OpenSans') format('svg');
  }
  
  @font-face {
    font-family: 'Rochester';
    font-style: normal;
    font-weight: 400;
    src: local('Rochester'), local('Rochester'),
         url('../../content/fonts/Rochester-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../content/fonts/Rochester-Regular.woff2') format('woff2'),
         url('../../content/fonts/Rochester-Regular.woff') format('woff'),
         url('../../content/fonts/Rochester-Regular.ttf') format('truetype'),
         url('../../content/fonts/Rochester-Regular.svg#OpenSans') format('svg');
  }

  @font-face {
    font-family: 'TheGlamorousTale';
    font-style: normal;
    font-weight: normal;
    src: local('TheGlamorousTale'), local('TheGlamorousTale'),
         url('../../content/fonts/TheGlamorousTale-Regular.otf') format('OpenType'),
         url('../../content/fonts/TheGlamorousTale-Regular.ttf') format('TrueType');
  }


.togglevisibility-div{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: right;

    display: grid;
    grid-template-rows: 5px 24px auto;
    grid-template-columns: auto 24px 5px;
    width: 100%;
}

.togglevisibility-div a.icons-link {
    width: 24px;
    height: 24px;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    z-index: 100;
}

.child {
    grid-row: 3 / span 2;
    grid-column: 1 / span 2;

    margin-top: 2px;
    margin-right: 3px;
    z-index: 99;
}




button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: #7b7b7b;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #cecece;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}



a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}


/* *::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
} */
  
::-webkit-scrollbar              { /* 1 */
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-button       { /* 2 */ }
  ::-webkit-scrollbar-track:hover  { /* 3 */ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }
  ::-webkit-scrollbar-track-piece  { /* 4 */ }
  ::-webkit-scrollbar-thumb  { /* 5 */ 
    background-color: gray; 
  }
  ::-webkit-scrollbar-thumb:hover  { /* 5 */ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }
  ::-webkit-scrollbar-corner       { /* 6 */ }
  ::-webkit-resizer                { /* 7 */ }


@media only screen and (max-width: 1022px) {
    .contacts-description {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 670px) {

    .contact-text {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .logo-div{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .detalhes {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }

    .redes {
        grid-row: 4 / span 1;
    }

    .pagamentos {
        grid-row: 4 / span 1;
    }

}









