/* 
.Lists-div ul{
    background-color: #f7ffff;
    color: #4ABDAC;
    border-radius: 3px;
    position: relative;
    left: -280px;
    top: -5px;
    z-index: 10;
    padding: 0;
    margin: 0;
    width: 320px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.Lists-div li{
    list-style: none;
    padding: 12px;    
    transition: 0.4s;
}

.Lists-div li:active{
    background-color: #4ABDAC;
    color: #f7ffff;
}

.Lists-div li:hover{
    background-color: #4ABDAC;
    color: #f7ffff;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}



 */